.myfont-bold
{
    font-weight: bold;
}

.jumbotron {
    padding: 30px;
    color: inherit;
    background-color: #E5E4E2;
}

/* Change Background colour to light grey */
.bg-grey {
    background-color: #E5E4E2;
}

/*Removes top & bottom padding so that the page represents the same layout design as example*/
.navbar {
    position: relative;
    padding: 0rem 1rem;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#main {
    background-image:url(../Images/lottery.PNG);
}

.btn-size-sm {
    width: 15%;
    margin: 30px auto 0px;
}
